
/* Setting the same font-family for everything to be displayed on the page */
* {
    font-family: 'Times New Roman', Times, serif;
}
/* Making header elements be on opposite sides on the screen, and 
    specifying spacing from page border */
header {
    display:flex;
    justify-content: space-between;
    margin: 0 17px;
}
    /* Specifying font-size for both header elements and margin of 
        'view high scores' link */
    a {
        margin: 20px;
        font-size: 1.2rem;
    }
    p {
        font-size: 1.6rem;
    }
 
/*  */
section {
    margin: 5rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 


    h2 {
        font-size: 2.5rem;
    }
    #start-button {
        display: flex;
        justify-content: center;
        margin: 7px;
        font-size: 1.8rem;
        background-color: pink;
    }
    .hide {
        display: none;
    }

    section div {
        display: flex;
        flex-direction: column;
    }
        #options button {
            margin: 10px;
            background-color: pink;
        }

    label {
        font-size: 2rem;
        margin-top: .5rem;
    }

    input {
        padding: 10px;
        font-size: 1.5rem;
        margin: .75rem;
    }

    section button {
        border-radius: 15%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
        background-color: pink;
    }